<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magelearn" translate="label" sortOrder="10">
            <label>Magelearn</label>
        </tab>
        <section id="magelearn_restrictPayment" translate="label" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Restrict Category for Payment</label>
            <tab>magelearn</tab>
            <resource>Magelearn_RestrictPayment::config_restrictPayment</resource>
            <group id="categoryselection_setting" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Settings</label>
                    <field id="categorylist" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Please Select Category</label>
                        <source_model>Magelearn\RestrictPayment\Model\Config\Source\Categorylist</source_model>
                    </field>
            </group>
        </section>
    </system>
</config>